.decision-table {
  border-spacing: 2px;
  background-color: transparent;
  font-size: 16px;
}
.decision-table td {
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  padding: 0;
  margin: 0;
}
.decision-table .information-item {
  position: relative;
  border-top: unset;
  border-right: unset;
  border-bottom: unset;
  border-left: 1px solid #000000;
  font-weight: 400;
  padding: 0;
}
.decision-table .information-item-name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.decision-table .information-item-name {
  position: relative;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: unset;
  border-left: unset;
  background-color: #ffffff;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.decision-table .information-item-name::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}

.horizontal .hit-policy-a {
  position: relative;
  text-align: center;
  vertical-align: top;
  background-color: #ffffff;
  font-weight: 400;
  padding-top: 2px;
  padding-left: 2px;
  border-bottom: 1px solid #000000;
}
.horizontal .hit-policy-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .hit-policy-b {
  position: relative;
  text-align: center;
  vertical-align: top;
  background-color: #ffffff;
  font-weight: 400;
  padding-top: 2px;
  padding-left: 2px;
  border: 1px solid #000000;
  padding-right: 2px;
}
.horizontal .hit-policy-b::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .input-expression-a {
  position: relative;
  text-align: center;
  background-color: #a1c9e3;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .input-expression-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #a1c9e3;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .input-expression-b {
  position: relative;
  text-align: center;
  background-color: #a1c9e3;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .input-expression-b::before {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #a1c9e3;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .input-expression-b::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .input-expression-c {
  position: relative;
  text-align: center;
  background-color: #a1c9e3;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .input-expression-c::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #a1c9e3;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .input-expression-d {
  position: relative;
  text-align: center;
  background-color: #a1c9e3;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .input-expression-d::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .output-label-a {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-label-a::after {
  position: absolute;
  display: block;
  content: "";
  border-right: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: 0;
  top: 1px;
  z-index: -1;
}
.horizontal .output-label-b {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .output-label-b::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-label-c {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .output-label-c::before {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .output-label-c::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-label-d {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-label-d::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .output-component-a {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .output-component-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .output-component-b {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-component-b::after {
  position: absolute;
  display: block;
  content: "";
  border-right: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: 0;
  top: 1px;
  z-index: -1;
}
.horizontal .output-component-c {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .output-component-c::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .output-component-d {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .output-component-d::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-component-e {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-component-e::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .output-component-f {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-component-g {
  position: relative;
  background-color: #e5c0dc;
  text-align: center;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .output-component-g::before {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #e5c0dc;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-component-g::after {
  position: absolute;
  display: block;
  content: "";
  border-top: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: 100%;
  left: 1px;
  top: -1px;
  z-index: -1;
}
.horizontal .annotation-a {
  position: relative;
  background-color: #d5e8d5;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .annotation-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #d5e8d5;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .annotation-b {
  position: relative;
  background-color: #d5e8d5;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 2px;
}
.horizontal .annotation-b::after {
  position: absolute;
  display: block;
  content: "";
  border-right: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: 0;
  top: 1px;
  z-index: -1;
}
.horizontal .annotation-c {
  position: relative;
  background-color: #d5e8d5;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .annotation-c::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #d5e8d5;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .annotation-d {
  position: relative;
  background-color: #d5e8d5;
  text-align: center;
  border-right: 1px solid #000000;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
}
.horizontal .annotation-d::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #d5e8d5;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .input-value-a {
  position: relative;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .input-value-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #c0c0c0;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .input-value-b {
  position: relative;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-value-a {
  position: relative;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .output-value-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #c0c0c0;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .output-value-b {
  position: relative;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .output-value-b::after {
  position: absolute;
  display: block;
  content: "";
  border-right: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: 0;
  top: 1px;
  z-index: -1;
}
.horizontal .output-value-c {
  position: relative;
  color: #000000;
  background-color: #c0c0c0;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .annotation-value-a {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
.horizontal .annotation-value-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: 100%;
}
.horizontal .annotation-value-b {
  position: relative;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px;
}
.horizontal .annotation-value-b::after {
  position: absolute;
  display: block;
  content: "";
  border-right: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: 0;
  top: 1px;
  z-index: -1;
}
.horizontal .input-entry-a {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .input-entry-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .input-entry-b {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
}
.horizontal .input-entry-b::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .input-entry-c {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
}
.horizontal .input-entry-c::before {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .input-entry-c::after {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: calc(100% + 2px + 1px);
  left: -1px;
  top: -1px;
  z-index: -1;
}
.horizontal .output-entry-a {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .output-entry-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .output-entry-b {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
  padding-left: 2px;
  padding-right: 2px;
}
.horizontal .output-entry-b::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-entry-c {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
  padding-left: 2px;
  padding-right: 2px;
}
.horizontal .output-entry-c::before {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .output-entry-c::after {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: calc(100% + 2px + 1px);
  left: -1px;
  top: -1px;
  z-index: -1;
}
.horizontal .annotation-entry-a {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-left: 2px;
}
.horizontal .annotation-entry-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .annotation-entry-b {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  border-right: 1px solid #000000;
  padding-left: 2px;
  padding-right: 2px;
}
.horizontal .annotation-entry-b::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .rule-number-a {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .rule-number-a::before {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: -1px;
  top: -3px;
  z-index: -1;
}
.horizontal .rule-number-a::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .rule-number-b {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  padding-left: 2px;
}
.horizontal .rule-number-b::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}
.horizontal .rule-number-c {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
  padding-left: 0;
}
.horizontal .rule-number-c::before {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid #000000;
  width: 100%;
  height: calc(100% + 2px + 1px);
  left: -1px;
  top: -3px;
  z-index: -1;
}
.horizontal .rule-number-c::after {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .rule-number-d {
  position: relative;
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  border-right: 1px solid #000000;
  padding-left: 0;
}
.horizontal .rule-number-d::before {
  position: absolute;
  display: block;
  content: "";
  border: 1px solid #000000;
  background-color: #ffffff;
  left: -1px;
  top: -1px;
  z-index: -1;
  width: 100%;
  height: calc(100% + 2px);
}
.horizontal .rule-number-d::after {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  width: calc(100% + 2px + 1px);
  height: calc(100% + 2px + 1px);
  left: -1px;
  top: -1px;
  z-index: -1;
}
